# CarMax Analytics Showcase
- Competition: https://analyticsshowcase.carmax.com
- Data: https://github.com/kmx-analytics-showcase/Winter-2023

In [1]:
# load packages
import numpy as np
import pandas as pd
from pandas.api.types import CategoricalDtype

## Data Load and Describe

In [2]:
# load data
file = 'data/data_winter2023.csv'
df = pd.read_csv(file
                ,dtype={'price':'category'
                        ,'appraisal_offer':'category'
                        ,'market':'category'

                        ,'mileage':'category'
                        #,'make':'category'
                        #,'body':'category'
                        ,'color':'category'

                        ,'mileage_appraisal':'category'
                        #,'make_appraisal':'category'
                        #,'body_appraisal':'category'
                        ,'color_appraisal':'category'
                }
                )
df.shape

(200000, 30)

In [3]:
# organize columns

# rename some fields
df.rename(columns={'trim_descrip':'premium_trim'
                  ,'trim_descrip_appraisal':'premium_trim_appraisal'
                  ,'appraisal_offer':'price_appraisal'
                  ,'engine':'engine_disp'
                  ,'engine_appraisal':'engine_disp_appraisal'
                  }, inplace=True)

# move market var column location in df
market = df.pop('market')
df.insert(0, 'market', market)

# move price_appraisal var column location in df
price_appraisal = df.pop('price_appraisal')
df.insert(df.columns.get_loc('model_year_appraisal'), 'price_appraisal', price_appraisal)

# move online_appraisal_flag var column location in df
online_appraisal_flag = df.pop('online_appraisal_flag')
df.insert(df.columns.get_loc('price_appraisal'), 'online_appraisal_flag', online_appraisal_flag)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   market                   200000 non-null  category
 1   price                    200000 non-null  category
 2   model_year               200000 non-null  float64
 3   mileage                  200000 non-null  category
 4   make                     200000 non-null  object
 5   model                    200000 non-null  object
 6   premium_trim             176159 non-null  object
 7   body                     189741 non-null  object
 8   color                    199967 non-null  category
 9   engine_disp              200000 non-null  object
 10  cylinders                200000 non-null  int64
 11  mpg_city                 199410 non-null  float64
 12  mpg_highway              199410 non-null  float64
 13  horsepower               200000 non-null  int64
 14  fuel_capacity            199996 non-null  float64
 15  online_appraisal_flag    196166 non-null  float64
 16  price_appraisal          200000 non-null  category
 17  model_year_appraisal     200000 non-null  float64
 18  mileage_appraisal        200000 non-null  category
 19  make_appraisal           200000 non-null  object
 20  model_appraisal          178492 non-null  object
 21  premium_trim_appraisal   168920 non-null  object
 22  body_appraisal           200000 non-null  object
 23  color_appraisal          198682 non-null  category
 24  engine_disp_appraisal    200000 non-null  object
 25  cylinders_appraisal      200000 non-null  int64
 26  mpg_city_appraisal       199999 non-null  float64
 27  mpg_highway_appraisal    200000 non-null  int64
 28  horsepower_appraisal     200000 non-null  int64
 29  fuel_capacity_appraisal  199688 non-null  float64
dtypes: category(7), float64(8), int64(5), object(10)
memory usage: 36.4+ MB

In [5]:
# make prices categorical with correct order
appraisal_cat = CategoricalDtype(
    ['$0k to $5k', '$5k to $10k', '$10k to $15k', '$15k to $20k', 
    '$20k to $25k', '$25k to $30k', '$30k to $35k', '$35k to $40k', 
    '$40k+'], 
    ordered=True
)
price_cat = CategoricalDtype(
    ['$0 to $15k', '$15k to $20k', '$20k to $25k', '$25k to $30k',
       '$30k to $35k', '$35k to $40k', '$40k to $45k', '$45k to $50k',
       '$50k to $55k', '$55k to $60k', '$60k to $65k', '$65k to $70k',
       '$70k+'], 
    ordered=True
)
df['price_appraisal'] = df['price_appraisal'].astype(appraisal_cat)
df['price'] = df['price'].astype(price_cat)

In [6]:
# make mileage categorical with correct order
mileage_app_cat = CategoricalDtype(
    ['0 to 10k miles', '10k to 20k miles', '20k to 30k miles',
     '30k to 40k miles', '40k to 50k miles','50k to 60k miles',
     '60k to 70k miles', '70k to 80k miles', '80k to 90k miles',
     '90k to 100k miles','100k to 110k miles', '110k to 120k miles',
     '120k to 130k miles', '130k to 140k miles','140k to 150k miles',
     '150k to 160k miles', '160k to 170k miles', '170k to 180k miles',
    '180k to 190k miles', '190k to 200k miles', '200k+ miles'],
    ordered=True
)
mileage_cat = CategoricalDtype(
   ['0 to 5k miles', '5k to 10k miles', '10k to 15k miles',
    '15k to 20k miles', '20k to 25k miles', '25k to 30k miles',
    '30k to 35k miles', '35k to 40k miles', '40k to 45k miles',
    '45k to 50k miles', '50k to 55k miles', '55k to 60k miles',
     '60k to 65k miles', '65k to 70k miles', '70k to 75k miles',
     '75k to 80k miles', '80k to 85k miles', '85k to 90k miles',
     '90k to 95k miles', '95k to 100k miles', '100k+ miles'],
    ordered=True
)
df['mileage_appraisal'] = df['mileage_appraisal'].astype(mileage_app_cat)
df['mileage'] = df['mileage'].astype(mileage_cat)

In [7]:
# make engine displacement numeric
df['engine_disp'] = df['engine_disp'].str.slice(0,3).astype('float')
df['engine_disp_appraisal'] = df['engine_disp_appraisal'].str.slice(0,3).astype('float')

In [8]:
df.info(show_counts=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 30 columns):
 #   Column                   Dtype
---  ------                   -----
 0   market                   category
 1   price                    category
 2   model_year               float64
 3   mileage                  category
 4   make                     object
 5   model                    object
 6   premium_trim             object
 7   body                     object
 8   color                    category
 9   engine_disp              float64
 10  cylinders                int64
 11  mpg_city                 float64
 12  mpg_highway              float64
 13  horsepower               int64
 14  fuel_capacity            float64
 15  online_appraisal_flag    float64
 16  price_appraisal          category
 17  model_year_appraisal     float64
 18  mileage_appraisal        category
 19  make_appraisal           object
 20  model_appraisal          object
 21  premium_trim_appraisal   object
 22  body_appraisal           object
 23  color_appraisal          category
 24  engine_disp_appraisal    float64
 25  cylinders_appraisal      int64
 26  mpg_city_appraisal       float64
 27  mpg_highway_appraisal    int64
 28  horsepower_appraisal     int64
 29  fuel_capacity_appraisal  float64
dtypes: category(7), float64(10), int64(5), object(8)
memory usage: 36.4+ MB

In [9]:
df.nunique()

market                      16
price                       13
model_year                  24
mileage                     21
make                        37
model                      575
premium_trim                 2
body                         6
color                       16
engine_disp                 49
cylinders                   10
mpg_city                    47
mpg_highway                 41
horsepower                 297
fuel_capacity               36
online_appraisal_flag        2
price_appraisal              9
model_year_appraisal        32
mileage_appraisal           21
make_appraisal              38
model_appraisal            675
premium_trim_appraisal       2
body_appraisal               8
color_appraisal             16
engine_disp_appraisal       56
cylinders_appraisal          6
mpg_city_appraisal          50
mpg_highway_appraisal       44
horsepower_appraisal       339
fuel_capacity_appraisal     35
dtype: int64

In [10]:
# numeric
df.describe().round(decimals = 1).T

,count,mean,std,min,25%,50%,75%,max
model_year,200000.0,2012.6,2.1,1991.0,2012.0,2013.0,2014.0,2017.0
engine_disp,200000.0,2.8,1.1,0.0,2.0,2.5,3.5,7.0
cylinders,200000.0,5.0,1.4,0.0,4.0,4.0,6.0,16.0
mpg_city,199410.0,22.2,5.2,11.0,18.0,22.0,26.0,60.0
mpg_highway,199410.0,29.4,5.7,14.0,25.0,29.0,33.0,59.0
horsepower,200000.0,237.0,76.6,11.0,175.0,228.0,290.0,760.0
fuel_capacity,199996.0,17.6,4.3,1.0,14.0,17.0,19.0,48.0
online_appraisal_flag,196166.0,0.3,0.4,0.0,0.0,0.0,1.0,1.0
model_year_appraisal,200000.0,2007.8,4.9,1986.0,2005.0,2009.0,2012.0,2017.0
engine_disp_appraisal,200000.0,2.9,1.1,1.0,2.0,2.5,3.5,8.3
cylinders_appraisal,200000.0,5.1,1.3,3.0,4.0,4.0,6.0,10.0
mpg_city_appraisal,199999.0,21.7,5.5,9.0,18.0,21.0,25.0,60.0
mpg_highway_appraisal,200000.0,29.2,6.1,13.0,25.0,29.0,34.0,59.0
horsepower_appraisal,200000.0,219.7,73.6,11.0,168.0,197.0,278.0,760.0
fuel_capacity_appraisal,199688.0,17.6,4.4,7.0,14.0,17.0,20.0,48.0

In [11]:
# non-numeric
df.describe(include = ['object','category']).T

                         count unique               top    freq
market                  200000     16                14   19729
price                   200000     13      $20k to $25k   46388
mileage                 200000     21  25k to 30k miles   18740
make                    200000     37               AIH   26201
model                   200000    575             HXQ_8    5528
premium_trim            176159      2       Not Premium   97920
body                    189741      6                 E  106730
color                   199967     16             White   45198
price_appraisal         200000      9        $0k to $5k   69180
mileage_appraisal       200000     21  50k to 60k miles   14163
make_appraisal          200000     38               KQZ   21886
model_appraisal         178492    675            HXQ_14    4845
premium_trim_appraisal  168920      2       Not Premium  111567
body_appraisal          200000      8                 E   77597
color_appraisal         198682     16             Black   41534

In [12]:
# data sample
df.sample(5).T

,43444,196386,8655,33531,50300
market,14,1,9,10,15
price,$25k to $30k,$0 to $15k,$15k to $20k,$35k to $40k,$25k to $30k
model_year,2012.0,2005.0,2014.0,2014.0,2010.0
mileage,35k to 40k miles,80k to 85k miles,15k to 20k miles,35k to 40k miles,80k to 85k miles
make,AIH,CZV,BGZ,AIH,AIH
model,AIH_5,CZV_5,BGZ_5,AIH_26,AIH_29
premium_trim,Premium,NaN,Not Premium,Premium,Premium
body,E,E,NaN,E,G
color,Blue,Black,Blue,Silver,Black
engine_disp,2.5,2.5,2.0,4.0,3.5
cylinders,4,4,4,6,6
mpg_city,22.0,20.0,25.0,17.0,18.0
mpg_highway,29.0,28.0,30.0,20.0,25.0
horsepower,176,161,161,270,266
fuel_capacity,15.0,16.0,14.0,23.0,20.0
online_appraisal_flag,0.0,0.0,0.0,1.0,0.0
price_appraisal,$20k to $25k,$0k to $5k,$5k to $10k,$0k to $5k,$0k to $5k
model_year_appraisal,2013.0,1997.0,2006.0,2000.0,2000.0
mileage_appraisal,10k to 20k miles,190k to 200k miles,70k to 80k miles,150k to 160k miles,190k to 200k miles
make_appraisal,HXQ,CFK,BGZ,KQZ,AIH
model_appraisal,HXQ_8,CFK_11,BGZ_17,KQZ_26,AIH_29
premium_trim_appraisal,Premium,Premium,Not Premium,Not Premium,Not Premium
body_appraisal,F,E,E,E,G
color_appraisal,Black,Gray,Gray,Gray,White
engine_disp_appraisal,1.5,3.7,2.4,5.4,3.3
cylinders_appraisal,4,6,4,8,6
mpg_city_appraisal,32.0,16.0,21.0,14.0,19.0
mpg_highway_appraisal,42,20,27,19,26
horsepower_appraisal,174,210,175,300,230
fuel_capacity_appraisal,12.0,18.0,18.0,28.0,20.0

## Missingness
- Analyze missing values (either NA or filler)

### NA's

In [13]:
# na counts
pd.DataFrame({'count':df.isna().sum()
             ,'percent':(df.isna().sum()/df.shape[0]).round(decimals=2)}
    ).sort_values(by='count', ascending=False)

                         count  percent
premium_trim_appraisal   31080     0.16
premium_trim             23841     0.12
model_appraisal          21508     0.11
body                     10259     0.05
online_appraisal_flag     3834     0.02
color_appraisal           1318     0.01
mpg_city                   590     0.00
mpg_highway                590     0.00
fuel_capacity_appraisal    312     0.00
color                       33     0.00
fuel_capacity                4     0.00
mpg_city_appraisal           1     0.00
engine_disp                  0     0.00
mileage                      0     0.00
horsepower_appraisal         0     0.00
mpg_highway_appraisal        0     0.00
cylinders_appraisal          0     0.00
engine_disp_appraisal        0     0.00
model_year                   0     0.00
body_appraisal               0     0.00
make_appraisal               0     0.00
make                         0     0.00
cylinders                    0     0.00
mileage_appraisal            0     0.00
model_year_appraisal         0     0.00
price_appraisal              0     0.00
price                        0     0.00
horsepower                   0     0.00
model                        0     0.00
market                       0     0.00

In [14]:
# missingness correlations
temp = df.iloc[:, [i for i, n in enumerate(np.var(df.isnull(), axis='rows')) if n > 0]]
corr_mat = temp.isnull().corr().round(decimals=2)
corr_mat2 = corr_mat.unstack().reset_index()
corr_mat2.columns = ['var1','var2','corr']
corr_mat2['var_1'] = corr_mat2[['var1','var2']].min(axis=1)
corr_mat2['var_2'] = corr_mat2[['var1','var2']].max(axis=1)
corr_mat2.drop(columns=['var1','var2'], inplace=True)
corr_mat2.drop_duplicates(inplace=True)
corr_mat2 = corr_mat2[corr_mat2['var_1'] != corr_mat2['var_2']]
# corr_mat2 = corr_mat2[corr_mat2['corr'] > 0.1]
corr_mat2.sort_values(by='corr', ascending=False).head(5)

    corr            var_1                   var_2
40  1.00         mpg_city             mpg_highway
81  0.57  color_appraisal   online_appraisal_flag
92  0.12  model_appraisal  premium_trim_appraisal
8   0.09     premium_trim  premium_trim_appraisal
1   0.06             body            premium_trim

### 0's

In [15]:
# 0 counts in numeric vars
(df[['model_year','engine_disp','cylinders','mpg_city','mpg_highway','horsepower','fuel_capacity'
    ,'model_year_appraisal','engine_disp_appraisal','cylinders_appraisal','mpg_city_appraisal','mpg_highway_appraisal','horsepower_appraisal','fuel_capacity_appraisal']] < 0.1).sum()

model_year                    0
engine_disp                   1
cylinders                  1398
mpg_city                      0
mpg_highway                   0
horsepower                    0
fuel_capacity                 0
model_year_appraisal          0
engine_disp_appraisal         0
cylinders_appraisal           0
mpg_city_appraisal            0
mpg_highway_appraisal         0
horsepower_appraisal          0
fuel_capacity_appraisal       0
dtype: int64

## Imputation

#### Cylinders

In [16]:
(df['cylinders'] < 0.1).sum()/df.shape[0]

0.00699

#### Trim
- 16% of appraisals and 12% of purchases were missing trim
- Imputation: assumed not premium

In [17]:
# count na
print(df['premium_trim'].isna().sum())
print(df['premium_trim_appraisal'].isna().sum())

23841
31080

In [18]:
# create imputed flag
df['imputed_flag_premium_trim'] = np.where(df['premium_trim'].isna(), 1, 0)
print(df['imputed_flag_premium_trim'].sum())
df['imputed_flag_premium_trim_appraisal'] = np.where(df['premium_trim_appraisal'].isna(), 1, 0)
print(df['imputed_flag_premium_trim_appraisal'].sum())

23841
31080

In [19]:
# recode trim
# assumes na is not premium
df['premium_trim'] = np.where(df['premium_trim'] == 'Premium', 1, 0)
df['premium_trim_appraisal'] = np.where(df['premium_trim_appraisal'] == 'Premium', 1, 0)

In [20]:
# check results
print(df['premium_trim'].isna().sum())
print(df['premium_trim_appraisal'].isna().sum())

0
0

#### Model
- 11% of appraisals are missing model
- Imputation: assume the most common model for each make

In [21]:
# count nulls
print(df['model_appraisal'].isna().sum())

21508

In [22]:
# create imputed flag
df['imputed_flag_model_appraisal'] = np.where(df['model_appraisal'].isna(), 1, 0)
print(df['imputed_flag_model_appraisal'].sum())

21508

In [23]:
# mode of model by make
# TODO: improve to mode by make/year
model_modes = df.groupby(['make_appraisal'])['model_appraisal'].agg(pd.Series.mode) # compute modes by make
na_indexer = df['model_appraisal'].isna() # null obs
df.loc[na_indexer,'model_appraisal'] = df.loc[na_indexer].apply(lambda x: model_modes.loc[x['make_appraisal']], axis=1) # apply modes by make
df.loc[df['model_appraisal'].map(type) == np.ndarray,'model_appraisal'] = np.nan # without mode set to null

In [24]:
# check result
print(df['model_appraisal'].isna().sum())

0

#### Body
- 5% of body is missing
- Imputation: assume mode of body for each make

In [25]:
# count nulls
print(df['body'].isna().sum())

10259

In [26]:
# create imputed flag
df['imputed_flag_body'] = np.where(df['body'].isna(), 1, 0)
print(df['imputed_flag_body'].sum())

10259

In [27]:
# mode of body by make
# TODO: improve to mode by make/model
body_modes = df.groupby(['make'])['body'].agg(pd.Series.mode) # compute modes by make
na_indexer = df['body'].isna() # null obs
df.loc[na_indexer,'body'] = df.loc[na_indexer].apply(lambda x: body_modes.loc[x['make']], axis=1) # apply modes by make
df.loc[df['body'].map(type) == np.ndarray,'body'] = np.nan # without mode set to null

In [28]:
# check result
print(df['body'].isna().sum())

0

#### Online Appraisal Flag
- 2% of online appraisal flag is missing
- Imputation: assume not online
- Note: inconsequential, not flagging imputation

In [29]:
# count nulls
print(df['online_appraisal_flag'].isna().sum())

3834

In [30]:
# assume null is not online appraisal
df['online_appraisal_flag'].fillna(0, inplace=True)

In [31]:
# check result
print(df['online_appraisal_flag'].isna().sum())

0

#### Color
- 1% and <1% of color_appraisal and color are missing
- Imputation: replace with most common colors
- Note: inconsequential, so not flagging

In [32]:
# count nulls
print(df['color_appraisal'].isna().sum())
print(df['color'].isna().sum())

1318
33

In [33]:
# modes
print(df['color_appraisal'].mode()[0])
print(df['color'].mode()[0])

# impute
df['color_appraisal'].fillna(df['color_appraisal'].mode()[0], inplace=True)
df['color'].fillna(df['color'].mode()[0], inplace=True)

Black
White

In [34]:
# count nulls
print(df['color_appraisal'].isna().sum())
print(df['color'].isna().sum())

0
0

#### MPGs and Fuel Capacities
- <1% each
- Imputation: assume average
- Note: inconsequential, so not flagging

In [35]:
# count nulls
print(df['mpg_city'].isna().sum())
print(df['mpg_highway'].isna().sum())
print(df['fuel_capacity_appraisal'].isna().sum())
print(df['fuel_capacity'].isna().sum())
print(df['mpg_city_appraisal'].isna().sum())

590
590
312
4
1

In [36]:
# means
print(df['mpg_city'].mean())
print(df['mpg_highway'].mean())
print(df['fuel_capacity_appraisal'].mean())
print(df['fuel_capacity'].mean())
print(df['mpg_city_appraisal'].mean())

# impute
df['mpg_city'].fillna(df['mpg_city'].mean(), inplace=True)
df['mpg_highway'].fillna(df['mpg_highway'].mean(), inplace=True)
df['fuel_capacity_appraisal'].fillna(df['fuel_capacity_appraisal'].mean(), inplace=True)
df['fuel_capacity'].fillna(df['fuel_capacity'].mean(), inplace=True)
df['mpg_city_appraisal'].fillna(df['mpg_city_appraisal'].mean(), inplace=True)

22.172117747354697
29.376671179980942
17.56572753495453
17.579301586031722
21.679143395716977

In [37]:
# count nulls
print(df['mpg_city'].isna().sum())
print(df['mpg_highway'].isna().sum())
print(df['fuel_capacity_appraisal'].isna().sum())
print(df['fuel_capacity'].isna().sum())
print(df['mpg_city_appraisal'].isna().sum())

0
0
0
0
0

High correlation between city and highway mpg. Combining measure for simplicity

In [38]:
# correlation
print(df['mpg_city'].corr(df['mpg_highway']))
print(df['mpg_city_appraisal'].corr(df['mpg_highway_appraisal']))

0.9140540486300003
0.9058200922458645

In [39]:
# compute EPA combined measure
mpg = (0.55*df['mpg_city'] + 0.45*df['mpg_highway'])
mpg_appraisal = (0.55*df['mpg_city_appraisal'] + 0.45*df['mpg_highway_appraisal'])

In [40]:
df.insert(df.columns.get_loc('mpg_city'), 'mpg', mpg)
df.insert(df.columns.get_loc('mpg_city_appraisal'), 'mpg_appraisal', mpg_appraisal)
df.drop(columns=['mpg_city','mpg_highway','mpg_city_appraisal','mpg_highway_appraisal'], inplace=True)

## Validation

In [41]:
# would think these counts would stop increasing as a make/model/trim has same features
print(len(df[['make','model']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim','body']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim','body','engine_disp']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim','body','engine_disp','cylinders']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim','body','engine_disp','cylinders','horsepower']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim','body','engine_disp','cylinders','horsepower','fuel_capacity']].value_counts(dropna=False)))

575
874
1013
1563
2474
3356
3736

### Engine
Here I've discovered a reliability problem with engine data
- Make/model/engine should determine cylinders/horsepower/fuel_capacity/mpg_*

In [42]:
print(df.columns)

Index(['market', 'price', 'model_year', 'mileage', 'make', 'model',
       'premium_trim', 'body', 'color', 'engine_disp', 'cylinders', 'mpg',
       'horsepower', 'fuel_capacity', 'online_appraisal_flag',
       'price_appraisal', 'model_year_appraisal', 'mileage_appraisal',
       'make_appraisal', 'model_appraisal', 'premium_trim_appraisal',
       'body_appraisal', 'color_appraisal', 'engine_disp_appraisal',
       'cylinders_appraisal', 'mpg_appraisal', 'horsepower_appraisal',
       'fuel_capacity_appraisal', 'imputed_flag_premium_trim',
       'imputed_flag_premium_trim_appraisal', 'imputed_flag_model_appraisal',
       'imputed_flag_body'],
      dtype='object')

In [43]:
df_HXQ = df[df['model'] == 'HXQ_8']

In [44]:
pd.set_option('display.max_rows', 200)

In [45]:
test = df_HXQ.groupby(['model_year','make','model','body','engine_disp','cylinders','horsepower'], dropna=False, as_index=False).size()
test[test['size'] > 0]

     model_year make  model body  engine_disp  cylinders  horsepower  size
0        2004.0  HXQ  HXQ_8    F          1.8          4         140     9
1        2005.0  HXQ  HXQ_8    B          1.8          4         140     3
2        2005.0  HXQ  HXQ_8    F          1.8          4         140    24
3        2006.0  HXQ  HXQ_8    B          1.8          4         140     4
4        2006.0  HXQ  HXQ_8    F          1.8          4         140    14
5        2007.0  HXQ  HXQ_8    B          1.8          4         140    17
6        2007.0  HXQ  HXQ_8    B          2.4          4         201     5
7        2007.0  HXQ  HXQ_8    F          1.8          4         140    93
8        2007.0  HXQ  HXQ_8    F          2.4          4         201     2
9        2008.0  HXQ  HXQ_8    B          1.8          4         140    13
10       2008.0  HXQ  HXQ_8    B          2.4          4         201     3
11       2008.0  HXQ  HXQ_8    F          1.8          4         140   118
12       2008.0  HXQ  HXQ_8    F          1.8          6         140     1
13       2008.0  HXQ  HXQ_8    F          2.4          4         201     4
14       2009.0  HXQ  HXQ_8    B          1.8          4         143    16
15       2009.0  HXQ  HXQ_8    B          2.4          4         205     6
16       2009.0  HXQ  HXQ_8    F          1.8          4         143    73
17       2009.0  HXQ  HXQ_8    F          2.4          4         205     3
18       2010.0  HXQ  HXQ_8    B          1.8          4         143    36
19       2010.0  HXQ  HXQ_8    B          2.4          4         205     5
20       2010.0  HXQ  HXQ_8    F          1.8          0         143     4
21       2010.0  HXQ  HXQ_8    F          1.8          4         143   226
22       2010.0  HXQ  HXQ_8    F          1.8          6         143     1
23       2010.0  HXQ  HXQ_8    F          2.4          4         205    20
24       2011.0  HXQ  HXQ_8    B          1.5          4         174    23
25       2011.0  HXQ  HXQ_8    B          2.0          4         158    30
26       2011.0  HXQ  HXQ_8    B          2.0          6         158     2
27       2011.0  HXQ  HXQ_8    F          1.5          4         174   168
28       2011.0  HXQ  HXQ_8    F          1.5          6         174     1
29       2011.0  HXQ  HXQ_8    F          1.5          8         174     1
30       2011.0  HXQ  HXQ_8    F          2.0          4         158   302
31       2011.0  HXQ  HXQ_8    F          2.0          5         158     1
32       2011.0  HXQ  HXQ_8    F          2.0          6         158     1
33       2012.0  HXQ  HXQ_8    B          1.5          0         174     1
34       2012.0  HXQ  HXQ_8    B          1.5          4         174    30
35       2012.0  HXQ  HXQ_8    B          1.5          4         205    31
36       2012.0  HXQ  HXQ_8    B          2.0          0         158     1
37       2012.0  HXQ  HXQ_8    B          2.0          4         158    42
38       2012.0  HXQ  HXQ_8    F          1.5          0         174     1
39       2012.0  HXQ  HXQ_8    F          1.5          4         174   272
40       2012.0  HXQ  HXQ_8    F          1.5          4         180    75
41       2012.0  HXQ  HXQ_8    F          1.5          4         205    46
42       2012.0  HXQ  HXQ_8    F          1.5          6         174     4
43       2012.0  HXQ  HXQ_8    F          1.5          6         180     1
44       2012.0  HXQ  HXQ_8    F          2.0          0         158     1
45       2012.0  HXQ  HXQ_8    F          2.0          2         158     1
46       2012.0  HXQ  HXQ_8    F          2.0          4         158   373
47       2012.0  HXQ  HXQ_8    F          2.0          4         306     6
48       2012.0  HXQ  HXQ_8    F          2.0          6         158     1
49       2013.0  HXQ  HXQ_8    B          1.5          0         205     1
50       2013.0  HXQ  HXQ_8    B          1.5          4         174    29
51       2013.0  HXQ  HXQ_8    B          1.5          4         205    43
52       2013.0  HXQ  HXQ_8    B          2.0          4         158    37
53       2013.0  HXQ  HXQ_8    F          1.5          0         174     2
54       2013.0  HXQ  HXQ_8    F          1.5          4         174   377
55       2013.0  HXQ  HXQ_8    F          1.5          4         180   147
56       2013.0  HXQ  HXQ_8    F          1.5          4         205    59
57       2013.0  HXQ  HXQ_8    F          1.5          6         174     1
58       2013.0  HXQ  HXQ_8    F          2.0          0         158     7
59       2013.0  HXQ  HXQ_8    F          2.0          2         158     2
60       2013.0  HXQ  HXQ_8    F          2.0          4         158   597
61       2013.0  HXQ  HXQ_8    F          2.0          4         306    21
62       2013.0  HXQ  HXQ_8    F          2.0          6         158     2
63       2014.0  HXQ  HXQ_8    B          1.5          0         205     1
64       2014.0  HXQ  HXQ_8    B          1.5          4         174    26
65       2014.0  HXQ  HXQ_8    B          1.5          4         205    35
66       2014.0  HXQ  HXQ_8    B          2.0          4         158    42
67       2014.0  HXQ  HXQ_8    F          1.5          0         174     1
68       2014.0  HXQ  HXQ_8    F          1.5          0         180     4
69       2014.0  HXQ  HXQ_8    F          1.5          0         205     1
70       2014.0  HXQ  HXQ_8    F          1.5          4         174   310
71       2014.0  HXQ  HXQ_8    F          1.5          4         180    80
72       2014.0  HXQ  HXQ_8    F          1.5          4         205    58
73       2014.0  HXQ  HXQ_8    F          1.5          6         174     2
74       2014.0  HXQ  HXQ_8    F          1.5          6         205     1
75       2014.0  HXQ  HXQ_8    F          2.0          0         158     6
76       2014.0  HXQ  HXQ_8    F          2.0          0         306     2
77       2014.0  HXQ  HXQ_8    F          2.0          3         158     1
78       2014.0  HXQ  HXQ_8    F          2.0          4         158   516
79       2014.0  HXQ  HXQ_8    F          2.0          4         306    51
80       2014.0  HXQ  HXQ_8    F          2.0          6         158     3
81       2014.0  HXQ  HXQ_8    F          2.0          6         306     1
82       2014.0  HXQ  HXQ_8    F          2.0          8         158     1
83       2015.0  HXQ  HXQ_8    B          1.5          4         174    11
84       2015.0  HXQ  HXQ_8    B          1.5          4         205    29
85       2015.0  HXQ  HXQ_8    B          1.5          8         174     1
86       2015.0  HXQ  HXQ_8    B          2.0          4         158    17
87       2015.0  HXQ  HXQ_8    B          2.0          6         158     1
88       2015.0  HXQ  HXQ_8    F          1.5          4         174   185
89       2015.0  HXQ  HXQ_8    F          1.5          4         180    86
90       2015.0  HXQ  HXQ_8    F          1.5          4         205    67
91       2015.0  HXQ  HXQ_8    F          1.5          6         174     2
92       2015.0  HXQ  HXQ_8    F          1.5          6         180     2
93       2015.0  HXQ  HXQ_8    F          1.5          6         205     1
94       2015.0  HXQ  HXQ_8    F          2.0          4         158   277
95       2015.0  HXQ  HXQ_8    F          2.0          4         306     9
96       2015.0  HXQ  HXQ_8    F          2.0          6         158     1
97       2015.0  HXQ  HXQ_8    F          2.0          8         158     1
98       2016.0  HXQ  HXQ_8    F          1.5          4         174    44
99       2016.0  HXQ  HXQ_8    F          1.5          4         180    60
100      2016.0  HXQ  HXQ_8    F          2.0          4         158    46
101      2016.0  HXQ  HXQ_8    F          2.0          4         306    22
102      2017.0  HXQ  HXQ_8    F          1.5          3         174     1
103      2017.0  HXQ  HXQ_8    F          1.5          4         174    26
104      2017.0  HXQ  HXQ_8    F          1.5          4         180     8
105      2017.0  HXQ  HXQ_8    F          1.5          4         205     3
106      2017.0  HXQ  HXQ_8    F          2.0          4         158    46

Seems OK to have different engines for the same make/model
- Cutoff for data entry error? (e.g. 2.4L below has 48 obs)

In [46]:
engines = df_HXQ.groupby(['make','model','body','engine_disp'], dropna=False, as_index=False).size()
engines['pct'] = (engines['size']/engines['size'].sum()).round(2)
engines

  make  model body  engine_disp  size   pct
0  HXQ  HXQ_8    B          1.5   261  0.05
1  HXQ  HXQ_8    B          1.8    89  0.02
2  HXQ  HXQ_8    B          2.0   172  0.03
3  HXQ  HXQ_8    B          2.4    19  0.00
4  HXQ  HXQ_8    F          1.5  2097  0.38
5  HXQ  HXQ_8    F          1.8   563  0.10
6  HXQ  HXQ_8    F          2.0  2298  0.42
7  HXQ  HXQ_8    F          2.4    29  0.01

In [47]:
df_HXQ.groupby(['make','model','engine_disp','cylinders'], dropna=False, as_index=False).size()

   make  model  engine_disp  cylinders  size
0   HXQ  HXQ_8          1.5          0    12
1   HXQ  HXQ_8          1.5          3     1
2   HXQ  HXQ_8          1.5          4  2328
3   HXQ  HXQ_8          1.5          6    15
4   HXQ  HXQ_8          1.5          8     2
5   HXQ  HXQ_8          1.8          0     4
6   HXQ  HXQ_8          1.8          4   646
7   HXQ  HXQ_8          1.8          6     2
8   HXQ  HXQ_8          2.0          0    17
9   HXQ  HXQ_8          2.0          2     3
10  HXQ  HXQ_8          2.0          3     1
11  HXQ  HXQ_8          2.0          4  2434
12  HXQ  HXQ_8          2.0          5     1
13  HXQ  HXQ_8          2.0          6    12
14  HXQ  HXQ_8          2.0          8     2
15  HXQ  HXQ_8          2.4          4    48

In [48]:
df_HXQ.groupby(['make','model','engine_disp','horsepower'], dropna=False, as_index=False).size()

  make  model  engine_disp  horsepower  size
0  HXQ  HXQ_8          1.5         174  1519
1  HXQ  HXQ_8          1.5         180   463
2  HXQ  HXQ_8          1.5         205   376
3  HXQ  HXQ_8          1.8         140   296
4  HXQ  HXQ_8          1.8         143   356
5  HXQ  HXQ_8          2.0         158  2358
6  HXQ  HXQ_8          2.0         306   112
7  HXQ  HXQ_8          2.4         201    14
8  HXQ  HXQ_8          2.4         205    34

Based on below, make/model/trim doesn't determine the other vehicle characteristics I think it would
- Data entry problem?

### Other Variables
- Identify areas of interest to pull out from `0_eda_profile_report.ipynb`

## Write Out Data

In [49]:
file = 'data/cleaned_data.pkl'
df.to_pickle(file)