# CarMax Analytics Showcase
- Competition: https://analyticsshowcase.carmax.com
- Data: https://github.com/kmx-analytics-showcase/Winter-2023

## Data Load and Describe

In [107]:
# load packages
import numpy as np
import pandas as pd
from pandas.api.types import CategoricalDtype

In [108]:
# load data
file = 'data/data_winter2023.csv'
df = pd.read_csv(file
                ,dtype={'price':'category'
                        ,'appraisal_offer':'category'
                        ,'market':'category'

                        ,'mileage':'category'
                        #,'make':'category'
                        #,'body':'category'
                        ,'color':'category'

                        ,'mileage_appraisal':'category'
                        #,'make_appraisal':'category'
                        #,'body_appraisal':'category'
                        ,'color_appraisal':'category'
                }
                )
df.shape

(200000, 30)

In [109]:
# organize columns

# rename some fields
df.rename(columns={'trim_descrip':'premium_trim'
                  ,'trim_descrip_appraisal':'premium_trim_appraisal'
                  ,'appraisal_offer':'price_appraisal'
                  ,'engine':'engine_disp'
                  ,'engine_appraisal':'engine_disp_appraisal'
                  }, inplace=True)

# move market var column location in df
market = df.pop('market')
df.insert(0, 'market', market)

# move price_appraisal var column location in df
price_appraisal = df.pop('price_appraisal')
df.insert(df.columns.get_loc('model_year_appraisal'), 'price_appraisal', price_appraisal)

# move online_appraisal_flag var column location in df
online_appraisal_flag = df.pop('online_appraisal_flag')
df.insert(df.columns.get_loc('price_appraisal'), 'online_appraisal_flag', online_appraisal_flag)

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   market                   200000 non-null  category
 1   price                    200000 non-null  category
 2   model_year               200000 non-null  float64
 3   mileage                  200000 non-null  category
 4   make                     200000 non-null  object
 5   model                    200000 non-null  object
 6   premium_trim             176159 non-null  object
 7   body                     189741 non-null  object
 8   color                    199967 non-null  category
 9   engine_disp              200000 non-null  object
 10  cylinders                200000 non-null  int64
 11  mpg_city                 199410 non-null  float64
 12  mpg_highway              199410 non-null  float64
 13  horsepower               200000 non-null  int64
 14  fuel_capacity            199996 non-null  float64
 15  online_appraisal_flag    196166 non-null  float64
 16  price_appraisal          200000 non-null  category
 17  model_year_appraisal     200000 non-null  float64
 18  mileage_appraisal        200000 non-null  category
 19  make_appraisal           200000 non-null  object
 20  model_appraisal          178492 non-null  object
 21  premium_trim_appraisal   168920 non-null  object
 22  body_appraisal           200000 non-null  object
 23  color_appraisal          198682 non-null  category
 24  engine_disp_appraisal    200000 non-null  object
 25  cylinders_appraisal      200000 non-null  int64
 26  mpg_city_appraisal       199999 non-null  float64
 27  mpg_highway_appraisal    200000 non-null  int64
 28  horsepower_appraisal     200000 non-null  int64
 29  fuel_capacity_appraisal  199688 non-null  float64
dtypes: category(7), float64(8), int64(5), object(10)
memory usage: 36.4+ MB

In [111]:
# make prices categorical with correct order
appraisal_cat = CategoricalDtype(
    ['$0k to $5k', '$5k to $10k', '$10k to $15k', '$15k to $20k', 
    '$20k to $25k', '$25k to $30k', '$30k to $35k', '$35k to $40k', 
    '$40k+'], 
    ordered=True
)
price_cat = CategoricalDtype(
    ['$0 to $15k', '$15k to $20k', '$20k to $25k', '$25k to $30k',
       '$30k to $35k', '$35k to $40k', '$40k to $45k', '$45k to $50k',
       '$50k to $55k', '$55k to $60k', '$60k to $65k', '$65k to $70k',
       '$70k+'], 
    ordered=True
)
df['price_appraisal'] = df['price_appraisal'].astype(appraisal_cat)
df['price'] = df['price'].astype(price_cat)

In [112]:
# make mileage categorical with correct order
mileage_app_cat = CategoricalDtype(
    ['0 to 10k miles', '10k to 20k miles', '20k to 30k miles',
     '30k to 40k miles', '40k to 50k miles','50k to 60k miles',
     '60k to 70k miles', '70k to 80k miles', '80k to 90k miles',
     '90k to 100k miles','100k to 110k miles', '110k to 120k miles',
     '120k to 130k miles', '130k to 140k miles','140k to 150k miles',
     '150k to 160k miles', '160k to 170k miles', '170k to 180k miles',
    '180k to 190k miles', '190k to 200k miles', '200k+ miles'],
    ordered=True
)
mileage_cat = CategoricalDtype(
   ['0 to 5k miles', '5k to 10k miles', '10k to 15k miles',
    '15k to 20k miles', '20k to 25k miles', '25k to 30k miles',
    '30k to 35k miles', '35k to 40k miles', '40k to 45k miles',
    '45k to 50k miles', '50k to 55k miles', '55k to 60k miles',
     '60k to 65k miles', '65k to 70k miles', '70k to 75k miles',
     '75k to 80k miles', '80k to 85k miles', '85k to 90k miles',
     '90k to 95k miles', '95k to 100k miles', '100k+ miles'],
    ordered=True
)
df['mileage_appraisal'] = df['mileage_appraisal'].astype(mileage_app_cat)
df['mileage'] = df['mileage'].astype(mileage_cat)

In [113]:
# make engine displacement numeric
df['engine_disp'] = df['engine_disp'].str.slice(0,3).astype('float')
df['engine_disp_appraisal'] = df['engine_disp_appraisal'].str.slice(0,3).astype('float')

In [114]:
df.info(show_counts=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 30 columns):
 #   Column                   Dtype
---  ------                   -----
 0   market                   category
 1   price                    category
 2   model_year               float64
 3   mileage                  category
 4   make                     object
 5   model                    object
 6   premium_trim             object
 7   body                     object
 8   color                    category
 9   engine_disp              float64
 10  cylinders                int64
 11  mpg_city                 float64
 12  mpg_highway              float64
 13  horsepower               int64
 14  fuel_capacity            float64
 15  online_appraisal_flag    float64
 16  price_appraisal          category
 17  model_year_appraisal     float64
 18  mileage_appraisal        category
 19  make_appraisal           object
 20  model_appraisal          object
 21  premium_trim_appraisal   object
 22  body_appraisal           object
 23  color_appraisal          category
 24  engine_disp_appraisal    float64
 25  cylinders_appraisal      int64
 26  mpg_city_appraisal       float64
 27  mpg_highway_appraisal    int64
 28  horsepower_appraisal     int64
 29  fuel_capacity_appraisal  float64
dtypes: category(7), float64(10), int64(5), object(8)
memory usage: 36.4+ MB

In [115]:
df.nunique()

market                      16
price                       13
model_year                  24
mileage                     21
make                        37
model                      575
premium_trim                 2
body                         6
color                       16
engine_disp                 49
cylinders                   10
mpg_city                    47
mpg_highway                 41
horsepower                 297
fuel_capacity               36
online_appraisal_flag        2
price_appraisal              9
model_year_appraisal        32
mileage_appraisal           21
make_appraisal              38
model_appraisal            675
premium_trim_appraisal       2
body_appraisal               8
color_appraisal             16
engine_disp_appraisal       56
cylinders_appraisal          6
mpg_city_appraisal          50
mpg_highway_appraisal       44
horsepower_appraisal       339
fuel_capacity_appraisal     35
dtype: int64

In [116]:
# numeric
df.describe().round(decimals = 1).T

,count,mean,std,min,25%,50%,75%,max
model_year,200000.0,2012.6,2.1,1991.0,2012.0,2013.0,2014.0,2017.0
engine_disp,200000.0,2.8,1.1,0.0,2.0,2.5,3.5,7.0
cylinders,200000.0,5.0,1.4,0.0,4.0,4.0,6.0,16.0
mpg_city,199410.0,22.2,5.2,11.0,18.0,22.0,26.0,60.0
mpg_highway,199410.0,29.4,5.7,14.0,25.0,29.0,33.0,59.0
horsepower,200000.0,237.0,76.6,11.0,175.0,228.0,290.0,760.0
fuel_capacity,199996.0,17.6,4.3,1.0,14.0,17.0,19.0,48.0
online_appraisal_flag,196166.0,0.3,0.4,0.0,0.0,0.0,1.0,1.0
model_year_appraisal,200000.0,2007.8,4.9,1986.0,2005.0,2009.0,2012.0,2017.0
engine_disp_appraisal,200000.0,2.9,1.1,1.0,2.0,2.5,3.5,8.3
cylinders_appraisal,200000.0,5.1,1.3,3.0,4.0,4.0,6.0,10.0
mpg_city_appraisal,199999.0,21.7,5.5,9.0,18.0,21.0,25.0,60.0
mpg_highway_appraisal,200000.0,29.2,6.1,13.0,25.0,29.0,34.0,59.0
horsepower_appraisal,200000.0,219.7,73.6,11.0,168.0,197.0,278.0,760.0
fuel_capacity_appraisal,199688.0,17.6,4.4,7.0,14.0,17.0,20.0,48.0

In [117]:
# non-numeric
df.describe(include = ['object','category']).T

                         count unique               top    freq
market                  200000     16                14   19729
price                   200000     13      $20k to $25k   46388
mileage                 200000     21  25k to 30k miles   18740
make                    200000     37               AIH   26201
model                   200000    575             HXQ_8    5528
premium_trim            176159      2       Not Premium   97920
body                    189741      6                 E  106730
color                   199967     16             White   45198
price_appraisal         200000      9        $0k to $5k   69180
mileage_appraisal       200000     21  50k to 60k miles   14163
make_appraisal          200000     38               KQZ   21886
model_appraisal         178492    675            HXQ_14    4845
premium_trim_appraisal  168920      2       Not Premium  111567
body_appraisal          200000      8                 E   77597
color_appraisal         198682     16             Black   41534

In [118]:
# data sample
df.sample(5).T

,147110,199380,187108,129190,44543
market,2,11,8,5,16
price,$25k to $30k,$35k to $40k,$25k to $30k,$25k to $30k,$20k to $25k
model_year,2009.0,2012.0,2014.0,2013.0,2012.0
mileage,55k to 60k miles,55k to 60k miles,15k to 20k miles,10k to 15k miles,30k to 35k miles
make,CFK,KQZ,AIH,AIH,HXQ
model,CFK_8,KQZ_26,AIH_5,AIH_5,HXQ_8
premium_trim,Premium,Premium,Premium,Not Premium,Premium
body,E,E,E,E,NaN
color,Black,Silver,Gray,Blue,Black
engine_disp,3.6,3.5,2.5,2.5,1.5
cylinders,6,6,4,4,4
mpg_city,17.0,15.0,26.0,22.0,30.0
mpg_highway,24.0,21.0,35.0,28.0,39.0
horsepower,290,365,203,176,180
fuel_capacity,24.0,28.0,14.0,15.0,12.0
online_appraisal_flag,0.0,0.0,0.0,0.0,0.0
price_appraisal,$30k to $35k,$5k to $10k,$5k to $10k,$0k to $5k,$5k to $10k
model_year_appraisal,2014.0,2008.0,2008.0,2009.0,2004.0
mileage_appraisal,20k to 30k miles,200k+ miles,120k to 130k miles,160k to 170k miles,160k to 170k miles
make_appraisal,CFK,KQZ,IZA,KQZ,KQZ
model_appraisal,CFK_5,KQZ_15,NaN,KQZ_19,KQZ_3
premium_trim_appraisal,Not Premium,Not Premium,Not Premium,Not Premium,Not Premium
body_appraisal,E,E,F,F,D
color_appraisal,Black,White,Gray,Red,White
engine_disp_appraisal,3.6,3.5,2.0,2.0,5.4
cylinders_appraisal,6,6,4,4,8
mpg_city_appraisal,17.0,17.0,24.0,26.0,14.0
mpg_highway_appraisal,23,23,36,36,18
horsepower_appraisal,270,290,180,160,310
fuel_capacity_appraisal,21.0,18.0,15.0,12.0,26.0

## Missingness

- Analyze missing values (either NA or filler)

### NA's

In [119]:
# na counts
pd.DataFrame({'count':df.isna().sum()
             ,'percent':(df.isna().sum()/df.shape[0]).round(decimals=2)}
    ).sort_values(by='count', ascending=False)

                         count  percent
premium_trim_appraisal   31080     0.16
premium_trim             23841     0.12
model_appraisal          21508     0.11
body                     10259     0.05
online_appraisal_flag     3834     0.02
color_appraisal           1318     0.01
mpg_city                   590     0.00
mpg_highway                590     0.00
fuel_capacity_appraisal    312     0.00
color                       33     0.00
fuel_capacity                4     0.00
mpg_city_appraisal           1     0.00
engine_disp                  0     0.00
mileage                      0     0.00
horsepower_appraisal         0     0.00
mpg_highway_appraisal        0     0.00
cylinders_appraisal          0     0.00
engine_disp_appraisal        0     0.00
model_year                   0     0.00
body_appraisal               0     0.00
make_appraisal               0     0.00
make                         0     0.00
cylinders                    0     0.00
mileage_appraisal            0     0.00
model_year_appraisal         0     0.00
price_appraisal              0     0.00
price                        0     0.00
horsepower                   0     0.00
model                        0     0.00
market                       0     0.00

### 0's

In [120]:
# 0 counts in numeric vars
(df[['model_year','engine_disp','cylinders','mpg_city','mpg_highway','horsepower','fuel_capacity'
    ,'model_year_appraisal','engine_disp_appraisal','cylinders_appraisal','mpg_city_appraisal','mpg_highway_appraisal','horsepower_appraisal','fuel_capacity_appraisal']] < 0.1).sum()

model_year                    0
engine_disp                   1
cylinders                  1398
mpg_city                      0
mpg_highway                   0
horsepower                    0
fuel_capacity                 0
model_year_appraisal          0
engine_disp_appraisal         0
cylinders_appraisal           0
mpg_city_appraisal            0
mpg_highway_appraisal         0
horsepower_appraisal          0
fuel_capacity_appraisal       0
dtype: int64

## Imputation

#### Trim
- 16% of appraisals and 12% of purchases were missing trim
- Imputation: assumed not premium

In [121]:
# create imputed flags
df['imputed_flag_premium_trim'] = np.where(df['premium_trim'].isna(), 1, 0)
df['imputed_flag_premium_trim_appraisal'] = np.where(df['premium_trim_appraisal'].isna(), 1, 0)

# recode trim
# assumes na is not premium
df['premium_trim'] = np.where(df['premium_trim'] == 'Premium', 1, 0)
df['premium_trim_appraisal'] = np.where(df['premium_trim_appraisal'] == 'Premium', 1, 0)

#### Model
- 11% of appraisals are missing model
- Imputation: assume the most common model for each make

In [122]:
# create imputed flag
df['imputed_flag_model_appraisal'] = np.where(df['model_appraisal'].isna(), 1, 0)

# mode of model by make
# TODO: improve to mode by make/year
model_modes = df.groupby(['make_appraisal'])['model_appraisal'].agg(pd.Series.mode) # compute modes by make
na_indexer = df['model_appraisal'].isna() # null obs
df.loc[na_indexer,'model_appraisal'] = df.loc[na_indexer].apply(lambda x: model_modes.loc[x['make_appraisal']], axis=1) # apply modes by make
df.loc[df['model_appraisal'].map(type) == np.ndarray,'model_appraisal'] = np.nan # without mode set to null

#### Body
- 5% of body is missing
- Imputation: assume mode of body for each make

In [123]:
# create imputed flag
df['imputed_flag_body'] = np.where(df['body'].isna(), 1, 0)

# mode of body by make
# TODO: improve to mode by make/model
body_modes = df.groupby(['make'])['body'].agg(pd.Series.mode) # compute modes by make
na_indexer = df['body'].isna() # null obs
df.loc[na_indexer,'body'] = df.loc[na_indexer].apply(lambda x: body_modes.loc[x['make']], axis=1) # apply modes by make
df.loc[df['body'].map(type) == np.ndarray,'body'] = np.nan # without mode set to null

#### Online Appraisal Flag
- 2% of online appraisal flag is missing
- Imputation: assume not online
- Note: inconsequential, not flagging imputation

In [124]:
# assume null is not online appraisal
df['online_appraisal_flag'].fillna(0, inplace=True)

#### Color
- 1% and <1% of color_appraisal and color are missing
- Imputation: replace with most common colors
- Note: inconsequential, so not flagging

In [125]:
# impute
df['color_appraisal'].fillna(df['color_appraisal'].mode()[0], inplace=True) # black
df['color'].fillna(df['color'].mode()[0], inplace=True) # white

#### MPGs, Cylinders, Engine Displacement, and Fuel Capacities
- <1% each
- Imputation: assume average
- Note: inconsequential, so not flagging

In [126]:
# impute
df['mpg_city'].fillna(df['mpg_city'].mean(), inplace=True)
df['mpg_highway'].fillna(df['mpg_highway'].mean(), inplace=True)
df['fuel_capacity_appraisal'].fillna(df['fuel_capacity_appraisal'].mean(), inplace=True)
df['fuel_capacity'].fillna(df['fuel_capacity'].mean(), inplace=True)
df['mpg_city_appraisal'].fillna(df['mpg_city_appraisal'].mean(), inplace=True)
df.loc[df['cylinders'] == 0,'cylinders'] = df['cylinders'].mean()
df.loc[df['engine_disp'] == 0,'engine_disp'] = df['engine_disp'].mean()

High correlation between city and highway mpg. Combining measure for simplicity

In [127]:
# correlation
print(df['mpg_city'].corr(df['mpg_highway']))
print(df['mpg_city_appraisal'].corr(df['mpg_highway_appraisal']))

0.9140540486300003
0.9058200922458645

In [128]:
# compute EPA combined measure
mpg = (0.55*df['mpg_city'] + 0.45*df['mpg_highway'])
mpg_appraisal = (0.55*df['mpg_city_appraisal'] + 0.45*df['mpg_highway_appraisal'])

In [129]:
df.insert(df.columns.get_loc('mpg_city'), 'mpg', mpg)
df.insert(df.columns.get_loc('mpg_city_appraisal'), 'mpg_appraisal', mpg_appraisal)
df.drop(columns=['mpg_city','mpg_highway','mpg_city_appraisal','mpg_highway_appraisal'], inplace=True)

### Confirm

In [130]:
# na counts
pd.DataFrame({'count':df.isna().sum()
             ,'percent':(df.isna().sum()/df.shape[0]).round(decimals=2)}
    ).sort_values(by='count', ascending=False)

                                     count  percent
market                                   0      0.0
price                                    0      0.0
imputed_flag_model_appraisal             0      0.0
imputed_flag_premium_trim_appraisal      0      0.0
imputed_flag_premium_trim                0      0.0
fuel_capacity_appraisal                  0      0.0
horsepower_appraisal                     0      0.0
mpg_appraisal                            0      0.0
cylinders_appraisal                      0      0.0
engine_disp_appraisal                    0      0.0
color_appraisal                          0      0.0
body_appraisal                           0      0.0
premium_trim_appraisal                   0      0.0
model_appraisal                          0      0.0
make_appraisal                           0      0.0
mileage_appraisal                        0      0.0
model_year_appraisal                     0      0.0
price_appraisal                          0      0.0
online_appraisal_flag                    0      0.0
fuel_capacity                            0      0.0
horsepower                               0      0.0
mpg                                      0      0.0
cylinders                                0      0.0
engine_disp                              0      0.0
color                                    0      0.0
body                                     0      0.0
premium_trim                             0      0.0
model                                    0      0.0
make                                     0      0.0
mileage                                  0      0.0
model_year                               0      0.0
imputed_flag_body                        0      0.0

In [131]:
# 0 counts in numeric vars
(df[['model_year','engine_disp','cylinders','mpg','horsepower','fuel_capacity'
    ,'model_year_appraisal','engine_disp_appraisal','cylinders_appraisal','mpg_appraisal','horsepower_appraisal','fuel_capacity_appraisal']] < 0.1).sum()

model_year                 0
engine_disp                0
cylinders                  0
mpg                        0
horsepower                 0
fuel_capacity              0
model_year_appraisal       0
engine_disp_appraisal      0
cylinders_appraisal        0
mpg_appraisal              0
horsepower_appraisal       0
fuel_capacity_appraisal    0
dtype: int64

## Validation

In [46]:
# would think these counts would stop increasing as a make/model/trim has same features
print(len(df[['make','model']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim','body']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim','body','engine_disp']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim','body','engine_disp','cylinders']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim','body','engine_disp','cylinders','horsepower']].value_counts(dropna=False)))
print(len(df[['make','model','premium_trim','body','engine_disp','cylinders','horsepower','fuel_capacity']].value_counts(dropna=False)))

575
874
1013
1563
2474
3356
3736

### Engine
Here I've discovered a reliability problem with engine data
- Make/model/engine should determine cylinders/horsepower/fuel_capacity/mpg_*

In [42]:
print(df.columns)

Index(['market', 'price', 'model_year', 'mileage', 'make', 'model',
       'premium_trim', 'body', 'color', 'engine_disp', 'cylinders', 'mpg',
       'horsepower', 'fuel_capacity', 'online_appraisal_flag',
       'price_appraisal', 'model_year_appraisal', 'mileage_appraisal',
       'make_appraisal', 'model_appraisal', 'premium_trim_appraisal',
       'body_appraisal', 'color_appraisal', 'engine_disp_appraisal',
       'cylinders_appraisal', 'mpg_appraisal', 'horsepower_appraisal',
       'fuel_capacity_appraisal', 'imputed_flag_premium_trim',
       'imputed_flag_premium_trim_appraisal', 'imputed_flag_model_appraisal',
       'imputed_flag_body'],
      dtype='object')

In [44]:
pd.set_option('display.max_rows', 200)

In [58]:
test = df[df['model'] == 'HXQ_8']
test = test.groupby(['model_year','make','model','engine_disp','cylinders','horsepower'], dropna=False, as_index=False).size().sort_values(by = ['engine_disp','cylinders','horsepower'])
test = test[(test['size'] > 0) & (test['model_year'] == 2015)]
test['pct'] = (test['size']/test['size'].sum()).round(2)
test.sort_values(by = 'pct', ascending = False)

    model_year make  model  engine_disp  cylinders  horsepower  size   pct
65      2015.0  HXQ  HXQ_8          2.0          4         158   294  0.43
58      2015.0  HXQ  HXQ_8          1.5          4         174   196  0.28
60      2015.0  HXQ  HXQ_8          1.5          4         205    96  0.14
59      2015.0  HXQ  HXQ_8          1.5          4         180    86  0.12
66      2015.0  HXQ  HXQ_8          2.0          4         306     9  0.01
61      2015.0  HXQ  HXQ_8          1.5          6         174     2  0.00
62      2015.0  HXQ  HXQ_8          1.5          6         180     2  0.00
63      2015.0  HXQ  HXQ_8          1.5          6         205     1  0.00
64      2015.0  HXQ  HXQ_8          1.5          8         174     1  0.00
67      2015.0  HXQ  HXQ_8          2.0          6         158     2  0.00
68      2015.0  HXQ  HXQ_8          2.0          8         158     1  0.00

##### Ideas
- take the top-k engine configurations and make others confirm

## Write Out Data

In [49]:
file = 'data/cleaned_data.pkl'
df.to_pickle(file)